- flash.each do |name, message|
  - if message.is_a?(String)
    - noty_type = (name == :notice ? "success" : "error")
    - timeout = (name == :notice ? 4000 : 30000)
    javascript:
      $(function() {
        noty({
          layout: 'top',
          type: "#{noty_type}",
          text: "#{message}",
          timeout: "#{timeout}"
        });
      });